* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #0d0d0d;
    color: #ffffff;
}

/* Hero Section */
header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background:
    linear-gradient(
        rgba(0,0,0,0.65),
        rgba(43,22,11,0.9)
    );
}

header img {
    width: 260px;
    max-width: 80%;
    margin-bottom: 30px;
}

h1 {
    font-size: 55px;
    letter-spacing: 5px;
    color: #c49a5a;
    margin: 10px 0;
}

header p {
    font-size: 22px;
    color: #d8c3a5;
    max-width: 600px;
}


/* Sections */

section {
    padding: 70px 20px;
    text-align: center;
    background-color: #111111;
}

h2 {
    font-size: 36px;
    color: #c49a5a;
    letter-spacing: 2px;
}

section p {
    font-size: 20px;
    color: #dddddd;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}


/* Luxury accent */

button {
    background-color: #c49a5a;
    color: #111;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
